
@font-face {
	font-family: "retro";
	src: url("SFPixelate.ttf");
}

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-family: "retro";
	vertical-align: baseline;
}

a {
    color: #003366;
}

button, input {
	padding: 5px;
}

#background {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;

  display: block;
  background-image:url('../images/bgr.jpg');
  width: 100%;
  height: 100%;
  
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  margin-left: 20px;
  margin-right: 20px;
}

body {
    font-family: Palatino;
    line-height: 1.4;
    color: black;
}

#menu h1 {
    margin-top: 10pt;
    font-size: 26pt;
}

#main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#winnerimg {
    display: block;
    height: 200px;
}

#winnerimg img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
}

#contestents ul {
    margin-top: 10pt;
    list-style: none;
}

#contestents ul li {
    display: inline-block;
    margin: 2px;
    background: white;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    
    padding: 0px 15px 0px 15px;
}

#contestents ul li:hover {
    background: #D5E5F7;
    cursor: pointer;
}

#names {
    height: 100px;
    background: white;
    margin-bottom: 10px;
    text-align: center;
    
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    overflow: hidden;
}

#names span {
    line-height: 120px;
    margin-left: auto;
    margin-right: auto;
    
    font-size: 36pt;
    font-style: bold;
}

#deltagere h1 {
    margin-top: 10pt;
    font-size: 18pt;
}

#contestents {
    overflow: hidden;
}

#addContestant {
    display: block;
    margin-top: 10px;
    overflow: hidden;
}

progress {
   -webkit-appearance: none;
}

progress::-webkit-progress-bar-value {
  -webkit-appearance: none;
  background: orangered;
}

.meter { 
	height: 20px; 
	position: relative;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding-left: 5px;
	padding-bottom: 2px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.meter > span {
  display: block;
  height: 100%;
  border-radius: 3px;
  background-color: rgb(43,194,83);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  position: relative;
  overflow: hidden;
}